<!DOCTYPE html>
<html>
  <style media="screen">
    .p{
      background: blue;
      padding: 2 em;
      text-align: center;
      margin: 3em;
      color: #fff;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <title>inicio</title>
  </head>
  <body>
    <div class="p">
      hola
    </div>
  </body>
</html>
